body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #0a0a0aea;
}

ul {
    list-style: none;
    padding: 0;
}


h1, h2, h3, h4, h5 {
    margin: 0;
}